@page
@model LoginModel


<div class="container-login-register">
    <div class="page-wrapper-login-register">
        <form id="account" method="post">
            <p>Login</p>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="input-login">
                <div class="input-wrapper">
                    <input asp-for="Input.UserName" aria-required="true" placeholder=" " autocomplete="off" maxlength="20"/>
                    <label asp-for="Input.UserName" class="animated-label">Username</label>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="input-wrapper">
                    <input asp-for="Input.Password" class="" aria-required="true" placeholder=" " autocomplete="off" maxlength="16" />
                    <label asp-for="Input.Password" class="animated-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>

            <div>
                <button id="login-submit" type="submit" class="login-button">Log in</button>
            </div>
            <div class="register-link-loginpage">
                <p>
                    Don't have an account yet? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign Up</a>
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}

<script>
    // JavaScript to handle label animation
    const inputs = document.querySelectorAll('.input-login input');

    inputs.forEach(input => {
        input.addEventListener('focus', function () {
            input.parentNode.classList.add('focused');
        });

        input.addEventListener('blur', function () {
            if (input.value === '') {
                input.parentNode.classList.remove('focused');
            }
        });
    });
</script>
