.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(12,12,12);
}

.icon{
    font-size: 26px;
    position: relative;
    right: 20px;
    transition: filter 0.1s ease-in-out;
    cursor: pointer;
}

    .icon:hover {
        filter: drop-shadow(0px 0px 10px #ffffff);
    }

    /*SEARCH BAR*/

.div-search-bar {
    display: flex;
    align-items: center;
}

.icon-search {
    position: relative;
    left: 45px;
    font-size: 26px;
    height: 28px;
    color: white;
}